[Unit]
Description=Falco: Automatic rules update service
Documentation=https://falco.org/docs/
After=falco.target
BindsTo=falco.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/falcoctl artifact follow
UMask=0077
TimeoutSec=30
RestartSec=15s
Restart=on-failure
PrivateTmp=true
NoNewPrivileges=yes
ProtectSystem=true
ProtectKernelTunables=true
RestrictRealtime=true
StandardOutput=null

[Install]
WantedBy=multi-user.target
