apiVersion: v1
kind: ConfigMap
metadata:
  name: vanilla-configmap
  namespace: falco-event-generator
  labels:
    app.kubernetes.io/name: vanilla-configmap
    app.kubernetes.io/part-of: falco-event-generator
    falco.rules: K8s-ConfigMap-Created
    message: Creating-configmap
data:
  ui.properties: |
    color.good=purple
    color.bad=yellow
    allow.textmode=true